[Unit]
Description=Get data from keepalived unit
Documentation=https://github.com/cafebazaar/keepalived-exporter
After=network-online.target

[Service]
User=root
EnvironmentFile=/etc/default/keepalived-exporter
ExecStart=/usr/local/bin/keepalived-exporter $ARGS

[Install]
WantedBy=multi-user.target