zone "torchify.io" {
    {% if inventory_hostname in groups['dns_masters'] %}
	type master;
	allow-update {key dns_update_key;};
	allow-transfer {key dns_transfer_key;};
	{% else %}
	type slave;
	masters {
	{% for master in groups['dns_masters'] %}
	    {{ hostvars[master]['ansible_default_ipv4']['address'] }};
	{% endfor %}
	};
    {% endif %}
	file "db.torchify.io";
};

{% if inventory_hostname in groups['dns_slaves'] %}

server {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }} {
    keys {dns_transfer_key;};
};

{% endif %}

zone "168.192.in-addr.arpa" {
    {% if inventory_hostname in groups['dns_masters'] %}
	type master;
	allow-update {key dns_update_key;};
	allow-transfer {key dns_transfer_key;};
	{% else %}
	type slave;
	masters {
	{% for master in groups['dns_masters'] %}
	    {{ hostvars[master]['ansible_default_ipv4']['address'] }};
	{% endfor %}
	};
    {% endif %}
	file "db.rev";
};
